*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "oswald";
    min-width: 320px;
}
ul{
    list-style: none;
    display: flex;
}
li{
    width: calc(100% / 3);
}

li a{
    font-weight: 500;
    background-position: center;
    background-size: cover;
    display: block;
    height: 100vh;
    font-size: 8em;
}
.azul span{
    color: #0050a4;
}
.blanco span{
    color: #fff;
}
.rojo span{
    color: #ef4135;
}
.azul{
    background-image: url("../img/azul.jpg");
}
.blanco{
    background-image: url("../img/blanco.jpg");
}
.rojo{
    background-image: url("../img/rojo.jpg");
}
header{
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1;
}
h1{
    font-weight: 400;
    padding: 0 10px;
    background-color: #ffffffa8;
    color: #ef4135;
}
h1 span{
    color: #0050a4;
}
header a{
    color: rgb(47, 47, 47);
}
li{
    position: relative;
}
a span{
    position: absolute;
    bottom: 40px;
    right: 40px;
}
header span{
    display: inline-block;
}

header a::after{
    content: " +";
}

@media screen and (max-width: 1200px) {
    li a{
        font-size: 6em;
    }
}
@media screen and (max-width: 950px) {
    li a, ul li{
        width: 100%;
        height: calc(100vh / 3);
        text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
    }
    .azul{
        background-position-y: -50px;
    }
    .rojo{
        background-position-y: -90px;
    }
    ul{
        flex-direction: column;
    }
    a span{
        bottom: 10px;
}
}
@media screen and (max-width: 500px){
    header a{
        display: none;
    }
    li a{
        font-size: 4em;
    }
    h1{
        width: 40vh;
    }
    .azul{
        background-position-y: 0;
    }
    .rojo{
        background-position-y: 0;
    }
}